entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Example 1 p 25"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Example 1 p 24"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Параграф 24 приклад 1"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Параграф 24 приклад 2 "

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Параграф 24 приклад 3 "

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "/nix/store/g82nfx6adfq9sbb1wf4xcwsdxqrk3pdk-python3-3.12.11/bin/python3 turtle-main.py"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow]]
name = "Example 1 p 25"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "/nix/store/g82nfx6adfq9sbb1wf4xcwsdxqrk3pdk-python3-3.12.11/bin/python3 example25.1.py"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow]]
name = "Example 1 p 24"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "/nix/store/g82nfx6adfq9sbb1wf4xcwsdxqrk3pdk-python3-3.12.11/bin/python3 example24.1.py"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow]]
name = "Параграф 24 приклад 1"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "/nix/store/g82nfx6adfq9sbb1wf4xcwsdxqrk3pdk-python3-3.12.11/bin/python3 example24.1.py"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow]]
name = "Параграф 24 приклад 2 "
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "/nix/store/g82nfx6adfq9sbb1wf4xcwsdxqrk3pdk-python3-3.12.11/bin/python3 example24.2.py"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow]]
name = "Параграф 24 приклад 3 "
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "/nix/store/g82nfx6adfq9sbb1wf4xcwsdxqrk3pdk-python3-3.12.11/bin/python3 example24.3.py"

[workflows.workflow.metadata]
outputType = "vnc"
